<div class="item-equip-state">
    <div class="item-equip-type">
        <label>Equip Type</label>
        <select name="system.equipType">
            {{selectOptions config.equipTypes selected=system.equipType localize=true}}
        </select>
    </div>
    {{#if (eq system.equipType "worn")}}
    <h3>{{localize "ABBREW.EquipPoints.label"}}</h3>
    <div class="item-equip-detail item-equip-armour-points">
        <label>Required</label>
        <input type="text" name="system.equipPoints.required.raw" value="{{system.equipPoints.required.raw}}"
            data-dtype="text" />
    </div>
    <div class="item-equip-detail item-equip-armour-points">
        <label>Provided</label>
        <input type="text" name="system.equipPoints.provided.raw" value="{{system.equipPoints.provided.raw}}"
            data-dtype="text" />
    </div>
    {{/if}}
    {{#if (eq system.equipType "held")}}
    <div class="item-equip-detail item-equip-held">
        <label class="resource-label">Hands</label>
        {{!-- <input type="text" name="system.hands" value="{{system.hands}}" data-dtype="Number" /> --}}
        <select name="system.handsRequired">
            {{selectOptions config.hands selected=system.handsRequired localize=true}}
        </select>
    </div>
    {{/if}}
</div>