<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        {{#if (isGM)}}
        <div class="resource">
            <label class="resource-label">Base Name</label>
            <input type="text" name="system.name.base" value="{{system.name.base}}" data-dtype="String" />
        </div>
        {{/if}}
        <div class="grid grid-2col">
            <div class="resource">
                <label class="resource-label">Tier</label>
                <input type="text" name="system.meta.tier" value="{{system.meta.tier}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">Quality</label>
                <input type="text" name="system.meta.quality" value="{{system.meta.quality}}" data-dtype="Number" />
            </div>
        </div>
        <div class="grid grid-3col">
            <div class="resource">
                <label class="resource-label">Quantity</label>
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">Heft</label>
                <input type="number" name="system.heft" value="{{system.heft}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label class="resource-label">Complexity</label>
                <input type="number" name="system.complexity" value="{{system.complexity}}" data-dtype="Number" />
            </div>
        </div>
    </div>
</header>