<ol class="form-list">
    <div class="grid grid-3col">
        <div class="guard">
            <label class="guard-label">Guard</label>
            <input type="text" name="system.defense.guard" value="{{system.defense.guard}}" data-dtype="Number" />
        </div>
        <div class="inflexibility">
            <label class="inflexibility-label">Inflexibility</label>
            <input type="text" name="system.defense.inflexibility" value="{{system.defense.inflexibility}}"
                data-dtype="Number" />
        </div>
        {{#if showEquipType}}
        {{> "systems/abbrew/templates/item/parts/item-equipstate.hbs"}}
        {{/if}}
    </div>
    {{#each system.defense.protection as |protection i|}}
    <li class="item effect flexrow" data-id="{{i}}">
        <div>
            <label>{{ localize "ABBREW.Type" }}</label>
            <select name="system.defense.protection.{{i}}.type">
                {{selectOptions ../config.damageTypes selected=protection.type localize=true}}
            </select>
        </div>
        <div>
            <label>{{ localize "ABBREW.Resistance" }}</label>
            <input type="text" name="system.defense.protection.{{i}}.resistance" value="{{protection.resistance}}"
                data-dtype="Number" />
        </div>
        <div>
            <label>{{ localize "ABBREW.Immunity" }}</label>
            <input type="text" name="system.defense.protection.{{i}}.immunity" value="{{protection.immunity}}"
                data-dtype="Number" />
        </div>
        <div>
            <label>{{ localize "ABBREW.Weakness" }}</label>
            <input type="text" name="system.defense.protection.{{i}}.weakness" value="{{protection.weakness}}"
                data-dtype="Number" />
        </div>
        <a class="damage-reduction-control remove-damage-reduction" data-action="remove-damage-reduction">
            <i class="fa-solid fa-minus"></i>
        </a>
    </li>
    {{/each}}
    <li class="damage-reduction add">
        <div class="form-group">
            <label>
                <a class="damage-reduction-control" data-action="add-damage-reduction">
                    Add Damage Reduction
                    <i class="fa-solid fa-plus"></i>
                </a>
            </label>
        </div>
    </li>
</ol>