<ol class="armour-defense">
    <div class="armour-details">
        <div class="armour-size-detail">
            <label class="label">Size</label>
            <select class="" name="system.meta.size">
                {{selectOptions config.size selected=system.meta.size valueAttr="value" labelAttr="label"
                localize=true}}
            </select>
        </div>
        <div class="guard">
            <label class="guard-label">Guard</label>
            <input type="text" name="system.defense.guard" value="{{system.defense.guard}}" data-dtype="Number" />
        </div>
        <div class="inflexibility">
            <label class="inflexibility-label">Inflexibility</label>
            <input type="text" name="system.defense.inflexibility" value="{{system.defense.inflexibility}}"
                data-dtype="Number" />
        </div>
    </div>
    {{#if showEquipType}}
    {{> "systems/abbrew/templates/item/parts/item-equipstate.hbs"}}
    {{/if}}
    <h3>Damage Reduction</h3>
    <li class="armour-protection-header">
        <label class="armour-protection-type">{{ localize "ABBREW.Type" }}</label>
        <label class="armour-protection-resistance">{{ localize "ABBREW.Resistance" }}</label>
        <label class="armour-protection-immunity">{{ localize "ABBREW.Immunity" }}</label>
        <label class="armour-protection-weakness">{{ localize "ABBREW.Weakness" }}</label>
    </li>
    {{#each system.defense.protection as |protection i|}}
    <li class="item armour-protection-detail" data-id="{{i}}">
        <div class="armour-protection-type">
            <select name="system.defense.protection.{{i}}.type">
                {{selectOptions ../config.damageTypes selected=protection.type localize=true}}
            </select>
        </div>
        <div class="armour-protection-resistance">
            <input type="text" name="system.defense.protection.{{i}}.resistance" value="{{protection.resistance}}"
                data-dtype="Number" />
        </div>
        <div class="armour-protection-immunity">
            <input type="text" name="system.defense.protection.{{i}}.immunity" value="{{protection.immunity}}"
                data-dtype="Number" />
        </div>
        <div class="armour-protection-weakness">
            <input type="text" name="system.defense.protection.{{i}}.weakness" value="{{protection.weakness}}"
                data-dtype="Number" />
        </div>
        <a class="damage-reduction-control remove-damage-reduction" data-action="remove-damage-reduction">
            <i class="fa-solid fa-minus"></i>
        </a>
    </li>
    {{/each}}
    <li class="damage-reduction add armour-protection-add">
        <div class="form-group">
            <label>
                <a class="damage-reduction-control" data-action="add-damage-reduction">
                    Add Damage Reduction
                    <i class="fa-solid fa-plus"></i>
                </a>
            </label>
        </div>
    </li>
</ol>