<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.isActivatable" {{ checked system.isActivatable }}>
    <span>{{localize "ABBREW.IsActivatable"}}</span>
    {{#if system.isActivatable}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<div class="skill-paired-row">
    <div class="skill-element-2">
        <label>Action Cost</label>
        <input type="number" name="system.action.actionCost" value="{{system.action.actionCost}}" data-dtype="Number" />
    </div>
    <div></div>
</div>
<div class="skill-paired-row">
    <div class="skill-element-2">
        <label>Synergy Action Cost</label>
        <input type="number" name="system.action.modifiers.actionCost.value"
            value="{{system.action.modifiers.actionCost.value}}" data-dtype="Number" />
    </div>
    <div class="skill-element-2">
        <label>Operator</label>
        <select name="system.action.modifiers.actionCost.operator">
            {{selectOptions config.operators selected=system.action.modifiers.actionCost.operator blank=""
            localize=true}}
        </select>
    </div>
</div>
<div class="item action">
    {{#if system.isActivatable}}
    <div class="form-group">
        <label>{{ localize "ABBREW.SkillActivationType" }}</label>
        <select name="system.action.activationType">
            {{selectOptions config.skillActivationTypes selected=system.action.activationType localize=true}}
        </select>
    </div>
    <div>
        <h3>Duration</h3>
        <select name="system.action.duration.precision">
            {{selectOptions config.durations selected=system.action.duration.precision localize=true}}
        </select>
        <input type="text" name="system.action.duration.value" value="{{system.action.duration.value}}"
            data-dtype="String" />
    </div>
    <div>
        <h3>Uses</h3>
        <label class="slide-toggle roboto-upper">
            <input type="checkbox" name="system.action.uses.hasUses" {{ checked system.action.uses.hasUses }}>
            <span>{{attribute.label}}</span>
            {{#if system.action.uses.hasUses}}
            <i class="fa fa-toggle-on"></i>
            {{else}}
            <i class="fa fa-toggle-off"></i>
            {{/if}}
        </label>
        {{#if system.action.uses.hasUses}}
        <label>Curent Uses</label>
        <input type="text" name="system.action.uses.value" value="{{system.action.uses.value}}" data-dtype="Number" />
        <label>Maximum Uses</label>
        <input type="text" name="system.action.uses.max" value="{{system.action.uses.max}}" data-dtype="Number" />
        <select name="system.action.uses.period">
            {{selectOptions config.durationsLabels selected=system.action.uses.period blank=""
            localize=true}}
        </select>
        {{/if}}
    </div>
    <div>
        <h3>Charges</h3>
        <label class="slide-toggle roboto-upper">
            <input type="checkbox" name="system.action.charges.hasCharges" {{ checked system.action.charges.hasCharges
                }}>
            <span>{{attribute.label}}</span>
            {{#if system.action.charges.hasCharges}}
            <i class="fa fa-toggle-on"></i>
            {{else}}
            <i class="fa fa-toggle-off"></i>
            {{/if}}
        </label>
        {{#if system.action.charges.hasCharges}}
        <label>Curent Charges</label>
        <input type="text" name="system.action.charges.value" value="{{system.action.charges.value}}"
            data-dtype="Number" />
        <label>Maximum Charges</label>
        <input type="text" name="system.action.charges.max" value="{{system.action.charges.max}}" data-dtype="Number" />
        {{/if}}
    </div>
    {{/if}}
    <div>
        <div>
            <h3>Fortune</h3>
            <input type="text" name="system.action.modifiers.fortune" value="{{system.action.modifiers.fortune}}"
                data-dtype="String" />
        </div>
        <div>
            <label>Successes</label>
            <input type="text" name="system.action.modifiers.successes" value="{{system.action.modifiers.successes}}"
                data-dtype="Number" />
        </div>
        <div>
            <h3>Attack Profile</h3>
            <div class="skill-attack-profile">
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Type</label>
                        <select name="system.action.modifiers.attackProfile.attackType">
                            {{selectOptions config.attackTypes selected=system.action.modifiers.attackProfile.attackType
                            blank="" localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Finisher Limit</label>
                        <input type="text" name="system.action.modifiers.attackProfile.finisherLimit.value"
                            value="{{system.action.modifiers.attackProfile.finisherLimit.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.finisherLimit.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.finisherLimit.operator
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Mode</label>
                        <select name="system.action.modifiers.attackProfile.attackMode">
                            {{selectOptions config.attackModes selected=system.action.modifiers.attackProfile.attackMode
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Critical</label>
                        <input type="text" name="system.action.modifiers.attackProfile.critical.value"
                            value="{{system.action.modifiers.attackProfile.critical.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.critical.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.critical.operator
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Hands Supplied</label>
                        <input type="text" name="system.action.modifiers.attackProfile.handsSupplied"
                            value="{{system.action.modifiers.attackProfile.handsSupplied}}" data-dtype="String" />
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Lethal</label>
                        <input type="text" name="system.action.modifiers.attackProfile.lethal.value"
                            value="{{system.action.modifiers.attackProfile.lethal.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.lethal.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.lethal.operator blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
            </div>
            <ol class="skill-damage-list">
                {{#each system.action.modifiers.attackProfile.damage as |damage j|}}
                <li class="item skill-damage-row" data-id="{{j}}">
                    <div class="skill-damage-profile">
                        <div class="damage-profile-element-2">
                            <label>Modify</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.modify">
                                {{selectOptions ../config.modify selected=damage.modify localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            {{#if (or (eq damage.modify "all") (eq damage.modify "one"))}}
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.modifyType">
                                {{selectOptions ../config.concepts selected=damage.modifyType blank="" localize=true}}
                            </select>
                            {{/if}}
                        </div>
                        {{#unless (eq damage.modify "skip")}}
                        <div class="damage-profile-element-2">
                            <label>Overall Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.overallMultiplier"
                                value="{{damage.overallMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Damage" }}</label>
                            <input type="text" name="system.action.modifiers.attackProfile.damage.{{j}}.value"
                                value="{{damage.value}}" data-dtype="Number" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Type" }}</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.type">
                                {{selectOptions ../config.concepts selected=damage.type blank="" localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Damage Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.damageMultiplier"
                                value="{{damage.damageMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.attributeModifier">
                                {{selectOptions ../config.attributes selected=damage.attributeModifier blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.attributeMultiplier"
                                value="{{damage.attributeMultiplier}}" data-dtype="String" />
                        </div>
                        {{/unless}}
                    </div>
                    <div class="skill-damage-control">
                        <a class="damage-control remove-damage" data-action="remove-damage">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
                <li class="damage add">
                    <div class="form-group">
                        <label>
                            <a class="damage-control" data-action="add-damage">
                                Add Damage
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </label>
                    </div>
                </li>
            </ol>
        </div>
        <div>
            <h3>Guard</h3>
            <div>
                <label>Self</label>
                <input type="text" name="system.action.modifiers.guard.self.value"
                    value="{{system.action.modifiers.guard.self.value}}" data-dtype="String" />
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.guard.self.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.guard.self.operator blank=""
                    localize=true}}
                </select>
            </div>
            <div>
                <label>Target</label>
                <input type="text" name="system.action.modifiers.guard.target.value"
                    value="{{system.action.modifiers.guard.target.value}}" data-dtype="String" />
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.guard.target.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.guard.target.operator blank=""
                    localize=true}}
                </select>
            </div>
        </div>
        <div>
            <h3>Wounds</h3>
            <div>
                <h4>Self</h4>
                <ol class="form-list wound-modifier-container">
                    {{#each system.action.modifiers.wounds.self as |wound k|}}
                    <li class="item resource grid-3col" data-id="{{k}}">
                        <div>
                            <label>Value</label>
                            <input type="text" name="system.action.modifiers.wounds.self.{{k}}.value"
                                value="{{wound.value}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label>Type</label>
                            <select name="system.action.modifiers.wounds.self.{{k}}.type">
                                {{selectOptions ../config.wounds selected=wound.type
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <label>{{ localize "ABBREW.Operator" }}</label>
                        <select name="system.action.modifiers.wounds.self.{{k}}.operator">
                            {{selectOptions ../config.operators selected=wound.operator
                            blank=""
                            localize=true}}
                        </select>
                        <div>
                            <a class="skill-action-modifier-wound-control"
                                data-action="remove-skill-action-modifier-wound">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                    <li class="skillModifierWound add">
                        <div class="form-group">
                            <label>
                                <a class="skill-action-modifier-wound-control"
                                    data-action="add-skill-action-modifier-wound">
                                    Add Wound Modifier
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        {{!-- <ol class="form-list damage-modifier-container">
            {{#each action.modifiers.damage as |damageModifier k|}}
            <li class="item resource grid-3col" data-id="{{k}}">
                <div>
                    <label>Value</label>
                    <input type="text" name="system.actions.{{i}}.modifiers.damage.{{k}}.value"
                        value="{{damageModifier.value}}" data-dtype="Number" />
                </div>
                <div>
                    <label>Attack Type</label>
                    <select name="system.actions.{{i}}.modifiers.damage.{{k}}.type">
                        {{selectOptions ../../config.concepts selected=damageModifier.type
                        blank=""
                        localize=true}}
                    </select>
                </div>
                <div>
                    <a class="skill-action-modifier-damage-control" data-action="remove-skill-action-modifier-damage">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                </div>
            </li>
            {{/each}}
            <li class="skillModifierDamage add">
                <div class="form-group">
                    <label>
                        <a class="skill-action-modifier-damage-control" data-action="add-skill-action-modifier-damage">
                            Add Damage Modifier
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </label>
                </div>
            </li>
        </ol> --}}
    </div>
</div>