<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.activatable" {{ checked system.activatable }}>
    <span>{{localize "ABBREW.Activatable"}}</span>
    {{#if system.activatable}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
{{#if system.activatable}}
<ol class="form-list action-container">
    {{#each system.actions as |action i|}}
    <li class="item action" data-id="{{i}}">
        <div class="form-group">
            <label>{{ localize "ABBREW.SkillActivationType" }}</label>
            <select name="action.activationType">
                {{selectOptions ../config.skillActivationTypes selected=action.activationType blank="" localize=true}}
            </select>
        </div>
        <div>
            <label>Action Cost</label>
            <input type="text" name="system.actions.{{i}}.requirements.actionCost"
                value="{{action.requirements.actionCost}}" data-dtype="String" />
        </div>
        <div>
            <div>
                <label>Guard</label>
                <div>
                    <label>Self</label>
                    <input type="text" name="action.modifiers.guard.self.value" value="{{action.modifiers.guard.value}}"
                        data-dtype="String" />
                    <label>{{ localize "ABBREW.Operator" }}</label>
                    <select name="action.modifiers.guard.self.operator">
                        {{selectOptions ../config.operators selected=action.modifiers.guard.self.value blank="" localize=true}}
                    </select>
                </div>
                <div>
                    <label>Target</label>
                    <input type="text" name="action.modifiers.guard.target.value" value="{{action.modifiers.guard.value}}"
                        data-dtype="String" />
                    <label>{{ localize "ABBREW.Operator" }}</label>
                    <select name="action.modifiers.guard.target.operator">
                        {{selectOptions ../config.operators selected=action.modifiers.guard.target.value blank="" localize=true}}
                    </select>
                </div>
            </div>
            <div>
                <label>Successes</label>
                <input type="text" name="system.actions.{{i}}.modifiers.successes"
                    value="{{action.modifiers.successes}}" data-dtype="Number" />
            </div>
            {{!-- <ol class="form-list damage-modifier-container">
                {{#each action.modifiers.damage as |damageModifier k|}}
                <li class="item resource grid-3col" data-id="{{k}}">
                    <div>
                        <label>Value</label>
                        <input type="text" name="system.actions.{{i}}.modifiers.damage.{{k}}.value"
                            value="{{damageModifier.value}}" data-dtype="Number" />
                    </div>
                    <div>
                        <label>Attack Type</label>
                        <select name="system.actions.{{i}}.modifiers.damage.{{k}}.type">
                            {{selectOptions ../../config.concepts selected=damageModifier.type
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                    <div>
                        <a class="skill-action-modifier-damage-control"
                            data-action="remove-skill-action-modifier-damage">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
                <li class="skillModifierDamage add">
                    <div class="form-group">
                        <label>
                            <a class="skill-action-modifier-damage-control"
                                data-action="add-skill-action-modifier-damage">
                                Add Damage Modifier
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </label>
                    </div>
                </li>
            </ol> --}}
        </div>
        <div>
            <a class="skill-action-control remove-skill-action" data-action="remove-skill-action">
                <i class="fa-solid fa-minus"></i>
            </a>
        </div>
    </li>
    {{/each}}
    <li class="skillAction add">
        <div class="form-group">
            <label>
                <a class="skill-action-control" data-action="add-skill-action">
                    Add Action
                    <i class="fa-solid fa-plus"></i>
                </a>
            </label>
        </div>
    </li>
</ol>
{{/if}}