{{#if (eq system.skillType "resource")}}
<div>
    <div class="skill-element-2">
        <label>Capacity</label>
        <input type="text" name="system.resource.capacity" value="{{system.resource.capacity}}" data-dtype="Number" />
    </div>
    <div class="skill-element-2">
        <label>Operator</label>
        <select name="system.resource.operator">
            {{selectOptions config.operators selected=system.resource.operator blank=""
            localize=true}}
        </select>
    </div>
    <div class="skill-element-2">
        <label class="resource-label">Related Resource</label>
        <input type="text" name="system.resource.relatedResource" class="resource-drop"
            value="{{system.resource.relatedResource}}" data-dtype="String" data-dropType="skill"
            data-dropSkillType="resource" data-dropTarget="relatedResource" {{#unless (isGM)}}readonly{{/unless}} />
    </div>
</div>
{{/if}}
{{#unless (eq system.skillType "resource")}}
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.isActivatable" {{ checked system.isActivatable }}>
    <span>{{localize "ABBREW.IsActivatable"}}</span>
    {{#if system.isActivatable}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.activateOnCreate" {{ checked system.activateOnCreate
        }}>
    <span>On Create</span>
    {{#if system.activateOnCreate}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.applyTurnStart" {{ checked system.applyTurnStart }}>
    <span>Apply Start of Turn</span>
    {{#if system.applyTurnStart}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.applyTurnEnd" {{ checked system.applyTurnEnd }}>
    <span>Apply End of Turn</span>
    {{#if system.applyTurnEnd}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.applyOnExpiry" {{ checked system.applyOnExpiry }}>
    <span>Apply On Expiry</span>
    {{#if system.applyOnExpiry}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<label class="slide-toggle roboto-upper">
    <input type="checkbox" class="action-activatable" name="system.activateOnDamageAccept" {{ checked
        system.activateOnDamageAccept }}>
    <span>Activate On Damage Accept</span>
    {{#if system.activateOnDamageAccept}}
    <i class="fa fa-toggle-on"></i>
    {{else}}
    <i class="fa fa-toggle-off"></i>
    {{/if}}
</label>
<div class="skill-paired-row">
    <div class="skill-element-2">
        <label>Action Cost</label>
        <input type="number" name="system.action.actionCost" value="{{system.action.actionCost}}" data-dtype="Number" />
    </div>
    <div></div>
</div>
<div class="skill-paired-row">
    <div class="skill-element-2">
        <label>Action Cost Modifier</label>
        <input type="number" name="system.action.modifiers.actionCost.value"
            value="{{system.action.modifiers.actionCost.value}}" data-dtype="Number" />
    </div>
    <div class="skill-element-2">
        <label>Operator</label>
        <select name="system.action.modifiers.actionCost.operator">
            {{selectOptions config.operators selected=system.action.modifiers.actionCost.operator blank=""
            localize=true}}
        </select>
    </div>
</div>
<div class="item action">
    <div class="form-group">
        <label>{{ localize "ABBREW.SkillActivationType" }}</label>
        <select name="system.action.activationType">
            {{selectOptions config.skillActivationTypes selected=system.action.activationType localize=true}}
        </select>
    </div>
    <div>
        <h3>Duration</h3>
        <select name="system.action.duration.precision">
            {{selectOptions config.durations selected=system.action.duration.precision localize=true}}
        </select>
        <input type="text" name="system.action.duration.value" value="{{system.action.duration.value}}"
            data-dtype="String" />
        <label class="slide-toggle roboto-upper">
            <input type="checkbox" class="action-activatable" name="system.action.duration.expireOnStartOfTurn" {{
                checked system.action.duration.expireOnStartOfTurn }}>
            {{#if system.action.duration.expireOnStartOfTurn}}
            <span>Expires on start of turn</span>
            {{else}}
            <span>Expires at end of turn</span>
            {{/if}}
            {{#if system.action.duration.expireOnStartOfTurn}}
            <i class="fa fa-toggle-on"></i>
            {{else}}
            <i class="fa fa-toggle-off"></i>
            {{/if}}
        </label>
    </div>
    <div>
        <h3>Uses</h3>
        <label class="slide-toggle roboto-upper">
            <input type="checkbox" name="system.action.uses.hasUses" {{ checked system.action.uses.hasUses }}>
            <span>Has Uses?</span>
            {{#if system.action.uses.hasUses}}
            <i class="fa fa-toggle-on"></i>
            {{else}}
            <i class="fa fa-toggle-off"></i>
            {{/if}}
        </label>
        {{#if system.action.uses.hasUses}}
        <div class="skill-section">
            {{#if (eq system.skillType "temporary")}}
            <label class="slide-toggle roboto-upper">
                <input type="checkbox" name="system.action.uses.removeWhenNoUsesRemain" {{ checked
                    system.action.uses.removeWhenNoUsesRemain }}>
                <span>Remove When No Uses?</span>
                {{#if system.action.uses.removeWhenNoUsesRemain}}
                <i class="fa-solid fa-square-check"></i>
                {{else}}
                <i class="fa-regular fa-square"></i>
                {{/if}}
            </label>
            {{/if}}
            <div class="skill-element-2">
                <label>Curent Uses</label>
                <input type="text" name="system.action.uses.value" value="{{system.action.uses.value}}"
                    data-dtype="Number" />
            </div>
            <div class="skill-element-2">
                <label>Restored Every</label>
                <select name="system.action.uses.period">
                    {{selectOptions config.durationsLabels selected=system.action.uses.period blank=""
                    localize=true}}
                </select>
            </div>
            <div class="skill-element-2">
                <label>Maximum Uses</label>
                <input type="text" name="system.action.uses.max" value="{{system.action.uses.max}}"
                    data-dtype="Number" />
            </div>
        </div>
        {{/if}}
    </div>
    <div>
        <h3>Charges</h3>
        <label class="slide-toggle roboto-upper">
            <input type="checkbox" name="system.action.charges.hasCharges" {{ checked system.action.charges.hasCharges
                }}>
            <span>Has Charges?</span>
            {{#if system.action.charges.hasCharges}}
            <i class="fa fa-toggle-on"></i>
            {{else}}
            <i class="fa fa-toggle-off"></i>
            {{/if}}
        </label>
        {{#if system.action.charges.hasCharges}}
        <label>Curent Charges</label>
        <input type="text" name="system.action.charges.value" value="{{system.action.charges.value}}"
            data-dtype="Number" />
        <label>Maximum Charges</label>
        <input type="text" name="system.action.charges.max" value="{{system.action.charges.max}}" data-dtype="Number" />
        {{/if}}
    </div>
    <div>
        <div>
            <h3>Fortune</h3>
            <input type="text" name="system.action.modifiers.fortune" value="{{system.action.modifiers.fortune}}"
                data-dtype="String" />
        </div>
        <div>
            <label>Successes</label>
            <input type="text" name="system.action.modifiers.successes" value="{{system.action.modifiers.successes}}"
                data-dtype="Number" />
        </div>
        {{#if (eq system.action.activationType "standalone")}}
        <div>
            <h3>Attack Profile</h3>
            <label class="slide-toggle roboto-upper">
                <input type="checkbox" name="system.action.attackProfile.isEnabled" {{ checked
                    system.action.attackProfile.isEnabled }}>
                <span>Enable Attack?</span>
                {{#if system.action.attackProfile.isEnabled}}
                <i class="fa fa-toggle-on"></i>
                {{else}}
                <i class="fa fa-toggle-off"></i>
                {{/if}}
            </label>
            {{#if system.action.attackProfile.isEnabled}}
            <div class="skill-attack-profile">
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Type</label>
                        <select name="system.action.attackProfile.attackType">
                            {{selectOptions config.attackTypes selected=system.action.attackProfile.attackType
                            blank="" localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Finisher Limit</label>
                        <input type="text" name="system.action.attackProfile.finisherLimit"
                            value="{{system.action.attackProfile.finisherLimit}}" data-dtype="String" />
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Mode</label>
                        <select name="system.action.attackProfile.attackMode">
                            {{selectOptions config.attackModes selected=system.action.attackProfile.attackMode
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Critical</label>
                        <input type="text" name="system.action.attackProfile.critical"
                            value="{{system.action.attackProfile.critical}}" data-dtype="String" />
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Hands Supplied</label>
                        <input type="text" name="system.action.attackProfile.handsSupplied"
                            value="{{system.action.attackProfile.handsSupplied}}" data-dtype="String" />
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Lethal</label>
                        <input type="text" name="system.action.attackProfile.lethal"
                            value="{{system.action.attackProfile.lethal}}" data-dtype="String" />
                    </div>
                </div>
                {{#if (eq system.action.attackProfile.attackMode "finisher")}}
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Finisher Cost</label>
                        <input type="text" name="system.action.attackProfile.finisher.cost"
                            value="{{system.action.attackProfile.finisher.cost}}" data-dtype="String" />
                    </div>
                    <div class="attack-profile-element-2">
                        <label>{{ localize "ABBREW.Type" }}</label>
                        <select name="system.action.attackProfile.finisher.type">
                            {{selectOptions config.concepts selected=system.action.attackProfile.finisher.type
                            blank="" localize=true}}
                        </select>
                        <div></div>
                    </div>
                    <div class="attack-profile-element-max-input">
                        <label>Finisher Description</label>
                        {{editor enrichedFinisherDescription target="system.action.attackProfile.finisher.description"
                        engine="prosemirror" button=true
                        owner=owner editable=editable}}
                    </div>
                </div>
                <div>
                    <h4>Wounds</h4>
                    <ol class="form-list wound-modifier-container">
                        {{#each system.action.attackProfile.finisher.wounds as |wound k|}}
                        <li class="item resource wound-row" data-id="{{k}}">
                            <div class="wound-element-2 wound-element-value">
                                <label>Value</label>
                                <input type="text" name="system.action.attackProfile.finisher.wounds.{{k}}.value"
                                    value="{{wound.value}}" data-dtype="Number" />
                            </div>
                            <div class="wound-element-2 wound-element-type">
                                <label>Type</label>
                                <select name="system.action.attackProfile.finisher.wounds.{{k}}.type">
                                    {{selectOptions ../config.wounds selected=wound.type
                                    blank=""
                                    localize=true}}
                                </select>
                            </div>
                            <div class="wound-element-2 wound-element-operator">
                                <label>{{ localize "ABBREW.Operator" }}</label>
                                <select name="system.action.attackProfile.finisher.wounds.{{k}}.operator">
                                    {{selectOptions ../config.operators selected=wound.operator
                                    blank=""
                                    localize=true}}
                                </select>
                            </div>
                            <div class="wound-remove">
                                <a class="skill-action-modifier-wound-control"
                                    data-action="remove-skill-action-attackProfile-wound-finisher-modifier">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </div>
                        </li>
                        {{/each}}
                        <li class="skillModifierWound add">
                            <div class="form-group">
                                <label>
                                    <a class="skill-action-modifier-wound-control"
                                        data-action="add-skill-action-attackProfile-wound-finisher-modifier">
                                        Add Wound Modifier
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </label>
                            </div>
                        </li>
                    </ol>
                </div>
                {{/if}}
            </div>
            <ol class="skill-damage-list">
                {{#each system.action.attackProfile.damage as |damage j|}}
                <li class="item skill-damage-row" data-id="{{j}}">
                    <div class="skill-damage-profile">
                        <div class="damage-profile-element-2">
                            <label>Overall Multiplier</label>
                            <input type="text" name="system.action.attackProfile.damage.{{j}}.overallMultiplier"
                                value="{{damage.overallMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Damage" }}</label>
                            <input type="text" name="system.action.attackProfile.damage.{{j}}.value"
                                value="{{damage.value}}" data-dtype="Number" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Type" }}</label>
                            <select name="system.action.attackProfile.damage.{{j}}.type">
                                {{selectOptions ../config.concepts selected=damage.type blank="" localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Damage Multiplier</label>
                            <input type="text" name="system.action.attackProfile.damage.{{j}}.damageMultiplier"
                                value="{{damage.damageMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute</label>
                            <select name="system.action.attackProfile.damage.{{j}}.attributeModifier">
                                {{selectOptions ../config.attributes selected=damage.attributeModifier blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute Multiplier</label>
                            <input type="text" name="system.action.attackProfile.damage.{{j}}.attributeMultiplier"
                                value="{{damage.attributeMultiplier}}" data-dtype="String" />
                        </div>
                    </div>
                    <div class="skill-damage-control">
                        <a class="damage-control remove-damage" data-action="remove-damage">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
                <li class="damage add">
                    <div class="form-group">
                        <label>
                            <a class="damage-control" data-action="add-damage">
                                Add Damage
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </label>
                    </div>
                </li>
            </ol>
        </div>
        {{/if}}
        {{/if}}
        {{#if (eq system.action.activationType "synergy")}}
        <div>
            <h3>Attack Profile Modifiers</h3>
            <div>
                <label class="slide-toggle roboto-upper">
                    <input type="checkbox" name="system.action.modifiers.attackProfile.combineAttacks.isEnabled" {{
                        checked system.action.modifiers.attackProfile.combineAttacks.isEnabled }}>
                    <span>Combine Attacks?</span>
                    {{#if system.action.modifiers.attackProfile.combineAttacks.isEnabled}}
                    <i class="fa fa-toggle-on"></i>
                    {{else}}
                    <i class="fa fa-toggle-off"></i>
                    {{/if}}
                </label>
                {{#if system.action.modifiers.attackProfile.combineAttacks.isEnabled}}
                <label>Number Combined</label>
                <input type="number" name="system.action.modifiers.attackProfile.combineAttacks.value"
                    value="{{system.action.modifiers.attackProfile.combineAttacks.value}}" data-dtype="Number" />
                {{/if}}
            </div>
            <div class="skill-attack-profile">
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Type</label>
                        <select name="system.action.modifiers.attackProfile.attackType">
                            {{selectOptions config.attackTypes selected=system.action.modifiers.attackProfile.attackType
                            blank="" localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Finisher Limit</label>
                        <input type="text" name="system.action.modifiers.attackProfile.finisherLimit.value"
                            value="{{system.action.modifiers.attackProfile.finisherLimit.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.finisherLimit.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.finisherLimit.operator
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Attack Mode</label>
                        <select name="system.action.modifiers.attackProfile.attackMode">
                            {{selectOptions config.attackModes selected=system.action.modifiers.attackProfile.attackMode
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Critical</label>
                        <input type="text" name="system.action.modifiers.attackProfile.critical.value"
                            value="{{system.action.modifiers.attackProfile.critical.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.critical.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.critical.operator
                            blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Hands Supplied</label>
                        <input type="text" name="system.action.modifiers.attackProfile.handsSupplied"
                            value="{{system.action.modifiers.attackProfile.handsSupplied}}" data-dtype="String" />
                    </div>
                    <div class="attack-profile-element-3">
                        <label>Lethal</label>
                        <input type="text" name="system.action.modifiers.attackProfile.lethal.value"
                            value="{{system.action.modifiers.attackProfile.lethal.value}}" data-dtype="String" />
                        <select name="system.action.modifiers.attackProfile.lethal.operator">
                            {{selectOptions config.operators
                            selected=system.action.modifiers.attackProfile.lethal.operator blank=""
                            localize=true}}
                        </select>
                    </div>
                </div>
                {{#if (eq system.action.modifiers.attackProfile.attackMode "finisher")}}
                <div class="attack-profile-row">
                    <div class="attack-profile-element-2">
                        <label>Finisher Cost</label>
                        <input type="text" name="system.action.modifiers.attackProfile.finisher.cost"
                            value="{{system.action.modifiers.attackProfile.finisher.cost}}" data-dtype="String" />
                    </div>
                    <div></div>
                    <div>
                        <h4>Wounds</h4>
                        <ol class="form-list wound-modifier-container">
                            {{#each system.action.modifiers.attackProfile.finisher.wounds as |wound k|}}
                            <li class="item resource grid-3col" data-id="{{k}}">
                                <div>
                                    <label>Value</label>
                                    <input type="text"
                                        name="system.action.modifiers.attackProfile.finisher.wounds.{{k}}.value"
                                        value="{{wound.value}}" data-dtype="Number" />
                                </div>
                                <div>
                                    <label>Type</label>
                                    <select name="system.action.modifiers.attackProfile.finisher.wounds.{{k}}.type">
                                        {{selectOptions ../config.wounds selected=wound.type
                                        blank=""
                                        localize=true}}
                                    </select>
                                </div>
                                <label>{{ localize "ABBREW.Operator" }}</label>
                                <select name="system.action.modifiers.attackProfile.finisher.wounds.{{k}}.operator">
                                    {{selectOptions ../config.operators selected=wound.operator
                                    blank=""
                                    localize=true}}
                                </select>
                                <div>
                                    <a class="skill-action-modifier-wound-control"
                                        data-action="remove-skill-action-modifier-attackProfile-wound-finisher-modifier">
                                        <i class="fa-solid fa-minus"></i>
                                    </a>
                                </div>
                            </li>
                            {{/each}}
                            <li class="skillModifierWound add">
                                <div class="form-group">
                                    <label>
                                        <a class="skill-action-modifier-wound-control"
                                            data-action="add-skill-action-modifier-attackProfile-wound-finisher-modifier">
                                            Add Wound Modifier
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                    </label>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                {{/if}}
            </div>
            <ol class="skill-damage-list">
                {{#each system.action.modifiers.attackProfile.damage as |damage j|}}
                <li class="item skill-damage-row" data-id="{{j}}">
                    <div class="skill-damage-profile">
                        <div class="damage-profile-element-2">
                            <label>Modify</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.modify">
                                {{selectOptions ../config.modify selected=damage.modify localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            {{#if (or (eq damage.modify "all") (eq damage.modify "one"))}}
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.modifyType">
                                {{selectOptions ../config.concepts selected=damage.modifyType blank="" localize=true}}
                            </select>
                            {{/if}}
                        </div>
                        {{#unless (eq damage.modify "skip")}}
                        <div class="damage-profile-element-2">
                            <label>Overall Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.overallMultiplier"
                                value="{{damage.overallMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Damage" }}</label>
                            <input type="text" name="system.action.modifiers.attackProfile.damage.{{j}}.value"
                                value="{{damage.value}}" data-dtype="Number" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>{{ localize "ABBREW.Type" }}</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.type">
                                {{selectOptions ../config.concepts selected=damage.type blank="" localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Damage Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.damageMultiplier"
                                value="{{damage.damageMultiplier}}" data-dtype="String" />
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute</label>
                            <select name="system.action.modifiers.attackProfile.damage.{{j}}.attributeModifier">
                                {{selectOptions ../config.attributes selected=damage.attributeModifier blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="damage-profile-element-2">
                            <label>Attribute Multiplier</label>
                            <input type="text"
                                name="system.action.modifiers.attackProfile.damage.{{j}}.attributeMultiplier"
                                value="{{damage.attributeMultiplier}}" data-dtype="String" />
                        </div>
                        {{/unless}}
                    </div>
                    <div class="skill-damage-control">
                        <a class="damage-control remove-damage" data-action="remove-modifier-damage">
                            <i class="fa-solid fa-minus"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
                <li class="damage add">
                    <div class="form-group">
                        <label>
                            <a class="damage-control" data-action="add-modifier-damage">
                                Add Damage
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </label>
                    </div>
                </li>
            </ol>
        </div>
        {{/if}}
        <div>
            <h3>Guard</h3>
            <div>
                <label>Self</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.guard.self.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.guard.self.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.guard.self.value
                modifierListName="system.action.modifiers.guard.self.value" config=config}}
            </div>
            <div>
                <label>Target</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.guard.target.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.guard.target.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.guard.target.value
                modifierListName="system.action.modifiers.guard.target.value" allowLateParse=true config=config}}
            </div>
        </div>
        <div>
            <h3>Risk</h3>
            <div>
                <label>Self</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.risk.self.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.risk.self.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.risk.self.value
                modifierListName="system.action.modifiers.risk.self.value" config=config}}
            </div>
            <div>
                <label>Target</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.risk.target.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.risk.target.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.risk.target.value
                modifierListName="system.action.modifiers.risk.target.value" allowLateParse=true config=config}}
            </div>
        </div>
        <div>
            <h3>Resolve</h3>
            <div>
                <label>Self</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.resolve.self.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.resolve.self.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.resolve.self.value
                modifierListName="system.action.modifiers.resolve.self.value" config=config}}
            </div>
            <div>
                <label>Target</label>
                <label>{{ localize "ABBREW.Operator" }}</label>
                <select name="system.action.modifiers.resolve.target.operator">
                    {{selectOptions config.operators selected=system.action.modifiers.resolve.target.operator blank=""
                    localize=true}}
                </select>
                {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                modifierList=system.action.modifiers.resolve.target.value
                modifierListName="system.action.modifiers.resolve.target.value" allowLateParse=true config=config}}
            </div>
        </div>
        <div>
            <h3>Wounds</h3>
            <div>
                <h4>Self</h4>
                <ol class="form-list wound-modifier-container">
                    {{#each system.action.modifiers.wounds.self as |wound k|}}
                    <li class="item resource skill-wound-modifier modifier-field-parent wound-modifier" data-id="{{k}}"
                        data-path="system.action.modifiers.wounds.self">
                        <div class="wound-modifier-type">
                            <label>Type</label>
                            <select name="system.action.modifiers.wounds.self.{{k}}.type">
                                {{selectOptions ../config.wounds selected=wound.type
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="wound-modifier-operator">
                            <label>{{ localize "ABBREW.Operator" }}</label>
                            <select name="system.action.modifiers.wounds.self.{{k}}.operator">
                                {{selectOptions ../config.woundOperators selected=wound.operator
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="wound-remove">
                            <a class="skill-action-modifier-wound-control"
                                data-action="remove-skill-action-modifier-wound-self">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                        </div>
                        <div class="wound-modifier-value">
                            <label>Value</label>
                            {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                            modifierList=wound.value
                            modifierListName=(eagerEvaluation "system.action.modifiers.wounds.self.{{k}}.value" k)
                            config=../config}}
                        </div>
                    </li>
                    {{/each}}
                    <li class="skillModifierWound add">
                        <div class="form-group wound-add">
                            <label>
                                <a class="skill-action-modifier-wound-control"
                                    data-action="add-skill-action-modifier-wound-self">
                                    Add Wound Modifier
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
            <br />
            <div>
                <h4>Target</h4>
                <ol class="form-list wound-modifier-container">
                    {{#each system.action.modifiers.wounds.target as |wound k|}}
                    <li class="item resource grid-3col modifier-field-parent wound-modifier" data-id="{{k}}"
                        data-path="system.action.modifiers.wounds.target">
                        <div class="wound-modifier-type">
                            <label>Type</label>
                            <select name="system.action.modifiers.wounds.target.{{k}}.type">
                                {{selectOptions ../config.wounds selected=wound.type
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="wound-modifier-operator">
                            <label>{{ localize "ABBREW.Operator" }}</label>
                            <select name="system.action.modifiers.wounds.target.{{k}}.operator">
                                {{selectOptions ../config.operators selected=wound.operator
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="wound-remove">
                            <a class="skill-action-modifier-wound-control"
                                data-action="remove-skill-action-modifier-wound-target">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                        </div>
                        <div class="wound-modifier-value">
                            <label>Value</label>
                            {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                            modifierList=wound.value
                            modifierListName=(eagerEvaluation "system.action.modifiers.wounds.target.{{k}}.value" k)
                            allowLateParse=true
                            config=../config}}
                        </div>
                    </li>
                    {{/each}}
                    <li class="skillModifierWound add wound-add">
                        <div class="form-group">
                            <label>
                                <a class="skill-action-modifier-wound-control"
                                    data-action="add-skill-action-modifier-wound-target">
                                    Add Wound Modifier
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <h3>Resources</h3>
            <div>
                <h4>Self</h4>
                <ol class="form-list resource-modifier-container">
                    {{#each system.action.modifiers.resources.self as |resource k|}}
                    <li class="item resource modifier-field-parent resource-modifier" data-id="{{k}}"
                        data-path="system.action.modifiers.resources.self">
                        <div class="resource-modifier-type">
                            <label class="resource-label">Type</label>
                            <input type="text" name="system.action.modifiers.resources.self.{{k}}.summary"
                                class="resource-drop" value="{{resource.summary}}" data-dtype="String"
                                data-dropType="skill" data-dropSkillType="resource" data-dropTarget="self" {{#unless
                                (isGM)}}readonly{{/unless}} />
                        </div>
                        <div class="resource-modifier-operator">
                            <label>{{ localize "ABBREW.Operator" }}</label>
                            <select name="system.action.modifiers.resources.self.{{k}}.operator">
                                {{selectOptions ../config.operators selected=resource.operator
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="resource-remove">
                            <a class="skill-action-modifier-resource-control"
                                data-action="remove-skill-action-modifier-resource-self">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                        </div>
                        <div class="resource-modifier-value">
                            <label>Value</label>
                            {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                            modifierList=resource.value
                            modifierListName=(eagerEvaluation "system.action.modifiers.resources.self.{{k}}.value" k)
                            allowLateParse=false
                            config=../config}}
                        </div>
                    </li>
                    {{/each}}
                    <li class="skillModifierResource add">
                        <div class="form-group resource-add">
                            <label>
                                <a class="skill-action-modifier-resource-control"
                                    data-action="add-skill-action-modifier-resource-self">
                                    Add Resource Modifier
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
            <div>
                <h4>Target</h4>
                <ol class="form-list resource-modifier-container">
                    {{#each system.action.modifiers.resources.target as |resource k|}}
                    <li class="item resource modifier-field-parent resource-modifier" data-id="{{k}}"
                        data-path="system.action.modifiers.resources.target">
                        <div class="resource-modifier-type">
                            <label class="resource-label">Type</label>
                            <input type="text" name="system.action.modifiers.resources.target.{{k}}.summary"
                                class="resource-drop" value="{{resource.summary}}" data-dtype="String"
                                data-dropType="skill" data-dropSkillType="resource" data-dropTarget="target" {{#unless
                                (isGM)}}readonly{{/unless}} />
                        </div>
                        <div class="resource-modifier-operator">
                            <label>{{ localize "ABBREW.Operator" }}</label>
                            <select name="system.action.modifiers.resources.target.{{k}}.operator">
                                {{selectOptions ../config.operators selected=resource.operator
                                blank=""
                                localize=true}}
                            </select>
                        </div>
                        <div class="resource-remove">
                            <a class="skill-action-modifier-resource-control"
                                data-action="remove-skill-action-modifier-resource-target">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                        </div>
                        <div class="resource-modifier-value">
                            <label>Value</label>
                            {{> "systems/abbrew/templates/item/parts/modifier-builder-field.hbs"
                            modifierList=resource.value
                            modifierListName=(eagerEvaluation "system.action.modifiers.resources.target.{{k}}.value" k)
                            allowLateParse=true
                            config=../config}}
                        </div>
                    </li>
                    {{/each}}
                    <li class="skillModifierResource add">
                        <div class="form-group resource-add">
                            <label>
                                <a class="skill-action-modifier-resource-control"
                                    data-action="add-skill-action-modifier-resource-target">
                                    Add Resource Modifier
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{{/unless}}