<div class="abbrew chat-message chat-card flexcol " data-actor-id="{{actor._id}}" data-token-id="{{tokenId}}"
    data-message-id="{{messageId}}">
    <header>
        <h3 class="notification-title"><span class="actions-icon action-{{actionCost}}a">{{title}}</span></h3>
    </header>

    <div class="message-content">
        <span>{{message}}</span>
    </div>
</div>