<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.wounds.active.value" class="resource-label">Wounds</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span> A </span>
            <input type="text" name="system.wounds.active.value" value="{{system.wounds.active.value}}"
              data-dtype="Number" />
            <span> H </span>
            <input type="text" name="system.wouncs.healing.value" value="{{system.wounds.healing.value}}"
              data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.wounds.blood" class="resource-label">Blood</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.wounds.blood.value" value="{{system.wounds.blood.value}}"
              data-dtype="Number" />
            <span> / </span>
            <input type="text" name="system.wounds.blood.max" value="{{system.wounds.blood.max}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.level.value" class="resource-label">Tier</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.meta.tier.value" value="{{system.meta.tier.value}}" data-dtype="Number"
              readonly />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.movement.baseSpeed" class="resource-label">Speed</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.movement.baseSpeed" value="{{system.movement.baseSpeed}}" data-dtype="Number"
              readonly />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.movement.resolve" class="resource-label">Resolve</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.resolve" value="{{system.resolve}}" data-dtype="Number"
              readonly />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.momentum" class="resource-label">Momentum</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.momentum" value="{{system.momentum}}" data-dtype="Number"
              readonly />
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="defenses">Defenses</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-4col">
        <aside class="sidebar grid-span-2">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="attributes flexcol">
            {{#each system.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
              <label for="system.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left"
                data-roll="d10+@attributes.{{key}}.value" data-label="{{attribute.label}}">{{attribute.label}}</label>
              <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" min=0 max=9
                data-dtype="Number" />
              <input type="text" name="system.attributes.{{key}}.rank" value="{{attribute.rank}}" data-dtype="Number"
                readonly />
              <input type="text" name="system.attributes.{{key}}.tier" value="{{attribute.tier}}" data-dtype="Number"
                readonly />
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main skills list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/abbrew/templates/actor/parts/actor-skills.hbs"}}
          {{> "systems/abbrew/templates/actor/parts/actor-anatomy.hbs"}}
          {{> "systems/abbrew/templates/actor/parts/actor-armour.hbs"}}
          {{> "systems/abbrew/templates/actor/parts/actor-weapons.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Defenses Tab --}}
    <div class="tab defenses" data-group="primary" data-tab="defenses">
      {{> "systems/abbrew/templates/actor/parts/actor-defenses.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/abbrew/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/abbrew/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/abbrew/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

{{log system}}