<div>
    <label class="guard-label">{{localize "ABBREW.Guard"}}</label>
    <div>
        <label class="guard-label">{{guard.label}}</label>
        <div class="grid grid-3col">
            <div class="guard-value">
                <label class="guard-label">Current</label>
                <input type="text" {{!-- name="system.defense.guard.value" --}} value="{{system.defense.guard.value}}"
                    data-dtype="Number" readonly />
            </div>
            <div class="guard-base">
                <label class="guard-label">Base</label>
                <input type="text" {{!-- name="system.defense.guard.base" --}} value="{{system.defense.guard.base}}"
                    data-dtype="Number" readonly />
            </div>
            <div class="guard-max">
                <label class="guard-label">Max</label>
                <input type="text" {{!-- name="system.defense.guard.max" --}} value="{{system.defense.guard.max}}"
                    data-dtype="Number" readonly />
            </div>
        </div>
    </div>
    <div class="grid grid-2col">
        <div class="inflexibility">
            <label class="inflexibility-label">Inflexibility</label>
            <div>
                <label class="inflexibility-label">Resistance</label>
                <div class="flex-group-center">
                    <input type="text" name="system.defense.inflexibility.resistance.value"
                        value="{{system.defense.inflexibility.resistance.value}}" data-dtype="Number" readonly />
                </div>
            </div>
            <div>
                <label class="inflexibility-label">Risk Cap</label>
                <div class="flex-group-center">
                    <input type="text" name="system.defense.inflexibility.raw"
                        value="{{system.defense.inflexibility.raw}}" data-dtype="Number" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="protection-container">
        <h4>Protection</h4>
        {{#each activeProtection as |protection key|}}
        <li class="item effect flexrow" data-id="{{key}}">
            <div>
                <label>{{ localize "ABBREW.Type" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.type" value="{{protection.label}}"
                    data-dtype="Number" readonly />
            </div>
            <div>
                <label>{{ localize "ABBREW.Reduction" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.reduction" value="{{protection.reduction}}"
                    data-dtype="Number" readonly />
            </div>
            <div>
                <label>{{ localize "ABBREW.Amplification" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.amplification"
                    value="{{protection.amplification}}" data-dtype="Number" readonly />
            </div>
            <div>
                <label>{{ localize "ABBREW.Resistance" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.resistance" value="{{protection.resistance}}"
                    data-dtype="Number" readonly />
            </div>
            <div>
                <label>{{ localize "ABBREW.Immunity" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.immunity" value="{{protection.immunity}}"
                    data-dtype="Number" readonly />
            </div>
            <div>
                <label>{{ localize "ABBREW.Weakness" }}</label>
                <input type="text" name="system.defense.protection.{{key}}.weakness" value="{{protection.weakness}}"
                    data-dtype="Number" readonly />
            </div>
        </li>
        {{/each}}
    </div>
</div>