<div class="traits">
  <div class="flex-group-center">
    <input type="text" name="system.traits" value="{{system.traits}}" data-dtype="String" />
  </div>
</div>
<div>
  <label class="label">Size</label>
  <select class="" name="system.meta.size">
    {{selectOptions config.size selected=system.meta.size valueAttr="value" labelAttr="label"
    localize=true}}
  </select>
</div>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-controls'>
      <a class='item-control item-create' title='Create item' data-type="anatomy">
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type="anatomy"}}
      </a>
    </div>
  </li>
  {{#each anatomy as |item id|}}
  <li class='item item-row' data-item-id='{{item._id}}'>
    <div class='item-name'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item'>
          <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
        </a>
      </div>
      <h4 class="item-label">{{item.name}}</h4>
    </div>
    <div class="icon-label-2">
      <label>
        <input type="checkbox" class="anatomy-broken" name="system.isBroken" {{ checked item.system.isBroken }}>
        {{#if item.system.isBroken}}
        <span class="icon icon-anatomy-broken-c" />
        {{else}}
        <span class="icon icon-anatomy-broken-u" />
        {{/if}}
      </label>
      <label>
        <input type="checkbox" class="anatomy-severed" name="system.isDismembered" {{ checked item.system.isDismembered
          }}>
        {{#if item.system.isDismembered}}
        <span class="icon icon-anatomy-severed-c" />
        {{else}}
        <span class="icon icon-anatomy-severed-u" />
        {{/if}}
      </label>
    </div>
    <div class={{#if showDeleteControl}}'item-controls'{{else}}'item-controls-1'{{/if}}>
      <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type=' anatomy'}}'>
        <i class='fas fa-edit'></i>
      </a>
      {{#if showDeleteControl}}
      <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' anatomy'}}'>
        <i class='fas fa-trash'></i>
      </a>
      {{/if}}
    </div>
  </li>
  {{/each}}
</ol>