<h3>Anatomy</h3>
<ol style="list-style:none;padding-left: 0px;">
    {{#each playerRevealed.anatomy as |anatomy|}}
    <li class="revealed-item">
        <div class="revealed-details">
            <div class='revealed-name'>
                <div class='revealed-image'>
                    <a class='rollable' data-action="rollable" data-roll-type='item'>
                        <img src='{{anatomy.item.img}}' title='{{anatomy.item.name}}' width='24' height='24' />
                    </a>
                </div>
                <h4>{{anatomy.item.name}}</h4>
            </div>
        </div>
        <ol style="list-style:none;" class="anatomy-revealed-weapons">
            {{#each anatomy.grantedWeapons as |weapon|}}
            <li class="revealed-item">
                <div class="revealed-details">
                    <div class='revealed-name'>
                        <div class='revealed-image'>
                            <a class='rollable' data-action="rollable" data-roll-type='item'>
                                <img src='{{weapon.img}}' title='{{weapon.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <h4>{{weapon.name}}</h4>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
        <ol style="list-style:none;" class="anatomy-revealed-skills">
            {{#each anatomy.grantedSkills as |skill|}}
            <li class="revealed-item">
                <div class="revealed-details">
                    <div class='revealed-name'>
                        <div class='revealed-image'>
                            <a class='rollable' data-action="rollable" data-roll-type='item'>
                                <img src='{{skill.img}}' title='{{skill.name}}' width='24' height='24' />
                            </a>
                        </div>
                        <h4>{{skill.name}}</h4>
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </li>
    {{/each}}
</ol>
<h3>Armour</h3>
<ol style="list-style:none;padding-left: 0px;">
    {{#each playerRevealed.armour as |armour|}}
    <li class="revealed-item">
        <div class="revealed-details">
            <div class='revealed-name'>
                <div class='revealed-image'>
                    <a class='rollable' data-action="rollable" data-roll-type='item'>
                        <img src='{{armour.img}}' title='{{armour.name}}' width='24' height='24' />
                    </a>
                </div>
                <h4>{{armour.name}}</h4>
            </div>
        </div>
    </li>
    {{/each}}
</ol>
<h3>Weapons</h3>
<ol style="list-style:none;padding-left: 0px;">
    {{#each playerRevealed.weapons as |weapon|}}
    <li class="revealed-item">
        <div class="revealed-details">
            <div class='revealed-name'>
                <div class='revealed-image'>
                    <a class='rollable' data-action="rollable" data-roll-type='item'>
                        <img src='{{weapon.img}}' title='{{weapon.name}}' width='24' height='24' />
                    </a>
                </div>
                <h4>{{weapon.name}}</h4>
            </div>
        </div>
    </li>
    {{/each}}
</ol>