{{!-- TODO: Add toggle for dragging skills --}}
<div>
  <div class='item flexrow items-header archetypes-header' data-skill-section="archetypes">
    <div class='item-name'>Archetypes</div>
  </div>
  <ol class="archetype-list">
    {{#each archetypes as |archetype id|}}
    <li class="archetype" data-id="{{id}}" data-item-id="{{archetype.id}}" data-source-id="{{archetype.sourceId}}">
      <div class="archetype=header">
        <div class="image-container"><img src="{{archetype.image}}" /></div>
        <div class="name"><span>{{archetype.name}}</span></div>
        <a class='item-control archetype-delete' title='{{localize "DOCUMENT.Delete" type=' archetype'}}'>
          <i class='fas fa-trash'></i>
        </a>
      </div>
      <div class="archetype-skills">
        <ol class='skill-container' style="display: {{display}}" data-skill-section="{{localize (skillType)}}">
          {{!-- TODO: This will need a different source, how do we link skill to archetype --}}
          {{!-- TODO: Add archetypeSkills to ActorSheet, group path skills by archetypeId --}}
          {{!-- TODO: On drop onto archetype, update the item to have archetypeId === archetypeId --}}
          {{#each (getProperty ../archetypeSkills (archetype.id)) as |item id|}}
          {{> "systems/abbrew/templates/actor/parts/actor-skill-card.hbs" item=item}}
          {{/each}}
        </ol>
      </div>
    </li>
    {{/each}}
    <li class="empty-drop-list-element">
      <span>+ Archetype</span>
    </li>
  </ol>
</div>
<ol class='items-list'>
  {{#each skillSections as |display skillType|}}
  <li>
    {{!-- TODO: Add count of cards, this would be pretty nice considering we can collapse the sections now --}}
    {{!-- TODO: Need to add paths section where each path has the block below to add skills --}}
    {{!-- TODO: Order the sections? basic probably wants to be closer to the top where background maybe are less
    important? --}}
  <li class='item flexrow items-header skill-header' data-skill-section="{{localize (skillType)}}">
    <div class='item-name'>{{localize (skillType)}}</div>
    <div class='item-controls'>
      <a class='item-control item-create' title='Create item' data-type='skill' data-skill-type={{skillType}}>
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='skill'}}
      </a>
    </div>
  </li>
  <ol class='skill-container' style="display: {{display}}" data-skill-section="{{localize (skillType)}}">
    {{#each (getProperty ../skills (localize (skillType))) as |item id|}}
    {{> "systems/abbrew/templates/actor/parts/actor-skill-card.hbs" item=item}}
    {{/each}}
  </ol>
  </li>
  {{/each}}
</ol>