<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="skills">Skills</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      <h3>Traits</h3>
      <div class="item-element-max-input">
        <label class="resource-label">Traits</label>
        <input type="text" name="system.traits.raw" value="{{system.traits.raw}}" data-dtype="String"
          data-dropType="skillTrait" {{#unless (isGM)}}readonly{{/unless}} />
      </div>
      <h3>Description</h3>
      {{editor enrichedDescription target="system.description" engine="prosemirror" rollData=rollData button=true
      owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="weapon-size">
        <div class="weapon-size-detail">
          <label class="label">Size</label>
          <select class="" name="system.meta.size">
            {{selectOptions config.size selected=system.meta.size valueAttr="value" labelAttr="label"
            localize=true}}
          </select>
        </div>
        <div class="weapon-size-detail">
          <label class="resource-label">Heft</label>
          <input type="text" name="system.heft" value="{{system.heft}}" data-dtype="Number" />
        </div>
        <div class="weapon-size-detail">
          <label class="resource-label">Complexity</label>
          <input type="text" name="system.complexity" value="{{system.complexity}}" data-dtype="Number" />
        </div>
      </div>
      {{> "systems/abbrew/templates/item/parts/item-equipstate.hbs"}}
      {{> "systems/abbrew/templates/item/parts/item-damage.hbs"}}
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <h3>Enhancements</h3>
      <ol class="skill-deck-skills">
        {{#each system.enhancements as |enhancement id|}}
        <li class="skill-deck-skill" data-id="{{id}}" data-item-id="{{enhancement.id}}"
          data-source-id="{{enhancement.sourceId}}">
          <div class="skill-deck-summary">
            <div class="image-container"><img src="{{enhancement.image}}" /></div>
            <div class="name"><span>{{enhancement.name}}</span></div>
            <a class='item-control enhancement-delete' title='{{localize "DOCUMENT.Delete" type=' enhancement'}}'>
              <i class='fas fa-trash'></i>
            </a>
          </div>
        </li>
        {{/each}}
        {{#if (gt 0 system.availableEnhancements)}}
        <li class="empty-drop-list-element">
          <span>+ Enhancement</span>
        </li>
        {{/if}}
      </ol>
      <h3>Skills</h3>
      <ol class="skill-deck-skills">
        {{#each system.skills.granted as |skill id|}}
        <li class="skill-deck-skill" data-id="{{id}}" data-item-id="{{skill.id}}" data-source-id="{{skill.sourceId}}">
          <div class="skill-deck-summary">
            <div class="image-container"><img src="{{skill.image}}" /></div>
            <div class="name"><span>{{skill.name}}</span></div>
            <a class='item-control skill-delete' title='{{localize "DOCUMENT.Delete" type=' skill'}}'>
              <i class='fas fa-trash'></i>
            </a>
          </div>
        </li>
        {{/each}}
        <li class="empty-drop-list-element">
          <span>+ Skill</span>
        </li>
      </ol>
    </div>
  </section>
</form>