<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor enrichedDescription target="system.description" engine="prosemirror" rollData=rollData button=true
      owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{#gm}}
      <h4>Reveal Skills</h4>
      <div>
        <label>Skills</label>
        <input type="text" name="system.revealed.revealSkills.raw" value="{{system.revealed.revealSkills.raw}}"
          data-dtype="String" data-dropType="skill" />
        <label>Difficulty</label>
        <input type="number" name="system.revealed.difficulty" value="{{system.revealed.difficulty}}"
          data-dtype="Number" />
      </div>
      {{/gm}}
      <div class="resource">
        <div class="grid grid-4col">
          <div class="grid-span-2">
            <label class="resource-label">Parts</label>
            <input type="text" name="system.parts" value="{{system.parts}}" data-dtype="String" />
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Hands</label>
            <input type="text" name="system.hands" value="{{system.hands}}" data-dtype="Number" />
          </div>
          <div class="grid-span-1">
            <h3>Speed</h3>
            {{#each system.speed as |speed key|}}
            <label class="resource-label">{{speed.label}} Speed Mod</label>
            <input type="text" name="system.speed.{{key}}.value" value="{{speed.value}}" data-dtype="Number" />
            {{/each}}
          </div>
        </div>
      </div>
      {{> "systems/abbrew/templates/item/parts/item-defenses.hbs" showEquipType=false}}
      <div>
        <h3>Natural Weapons</h3>
        <ol class="anatomy-weapon-list">
          {{#each system.naturalWeapons as |weapon id|}}
          <li class="anatomy-weapon" data-id="{{id}}" data-item-id="{{weapon.id}}" data-source-id="{{weapon.sourceId}}">
            <div class="anatomy-weapon-summary">
              <div class="image-container"><img src="{{weapon.image}}" /></div>
              <div class="name"><span>{{weapon.name}}</span></div>
              <a class='item-control anatomy-weapon-delete' title='{{localize "DOCUMENT.Delete" type="weapon"}}'>
                <i class='fas fa-trash'></i>
              </a>
            </div>
          </li>
          {{/each}}
          <li class="empty-drop-list-element">
            <span>+ Natural Weapon</span>
          </li>
        </ol>
      </div>
      <div>
        <h3>Skills</h3>
        <ol class="skill-deck-skills">
          {{#each system.skills.granted as |skill id|}}
          <li class="skill-deck-skill" data-id="{{id}}" data-item-id="{{skill.id}}" data-source-id="{{skill.sourceId}}">
            <div class="skill-deck-summary">
              <div class="image-container"><img src="{{skill.image}}" /></div>
              <div class="name"><span>{{skill.name}}</span></div>
              <a class='item-control skill-delete' data-action="deleteSkill" title='{{localize "DOCUMENT.Delete" type=' skill'}}'>
                <i class='fas fa-trash'></i>
              </a>
            </div>
          </li>
          {{/each}}
          <li class="empty-drop-list-element">
            <span>+ Skill</span>
          </li>
        </ol>
      </div>
    </div>
  </section>
</form>