<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
  </li>
  {{#each attacks as |attack|}}
  <li class="item flexrow" data-item-id="{{attack.name}}">
    <div class="item-name">
      <div class="item-image">
        <a class="rollable" data-roll-type="item"><img src="{{attack.image}}" title="{{attack.name}}" width="24"
            height="24" /></a>
      </div>
      <h4>{{attack.name}}</h4>
    </div>
    {{#if attack.isWeapon}}
    {{#if attack.isEquipped}}
    <div class="flexrow">
      {{#each attack.profiles as |attackProfile|}}
      <div>
        <button class="rollable attack" data-roll-type="attack" data-attack="{{attack.id}}" data-attackProfile={{attackProfile.id}}>{{attackProfile.weapon.damageType}} {{attackProfile.weapon.attackType}}</button>
      </div>
      {{/each}}
      <button class="equip-weapon" data-action="equip-weapon" data-weaponId="{{attack.id}}"
        data-equip="false">Sheath</button>
    </div>
    {{else}}
    <div>
      <button class="equip-weapon" data-action="equip-weapon" data-weaponId="{{attack.id}}"
        data-equip="true">Equip</button>
    </div>
    {{/if}}
    {{/if}}
    {{#if attack.isMagic}}
    <div></div>
    {{/if}}
  </li>
  {{/each}}
</ol>