<ol class="form-list">
    <div class="grid grid-2col">
        <div class="guard">
            <label class="guard-label">Guard</label>
            <input type="text" name="system.defense.guard" value="{{system.defense.guard}}" data-dtype="Number" />
        </div>
        <div>
            <label>{{localize "ABBREW.ArmourPoints"}}</label>
            <input type="text" name="system.armourPoints" value="{{system.armourPoints}}"></input>
        </div>
    </div>
    {{#each system.defense.damageReduction as |damageReduction i|}}
    <li class="item effect flexrow" data-id="{{i}}">
        <div>
            <label>{{ localize "ABBREW.Type" }}</label>
            <select name="system.defense.damageReduction.{{i}}.type">
                {{selectOptions ../config.concepts selected=damageReduction.type blank="" localize=true}}
            </select>
        </div>
        <div>
            <label>{{ localize "ABBREW.DamageReduction.abbreviation" }}</label>
            <input type="text" name="system.defense.damageReduction.{{i}}.value" value="{{damageReduction.value}}"
                data-dtype="Number" />
        </div>
        <div>
            <label>{{ localize "ABBREW.Resistance" }}</label>
            <input type="text" name="system.defense.damageReduction.{{i}}.resistance"
                value="{{damageReduction.resistance}}" data-dtype="Number" />
        </div>
        <div>
            <label>{{ localize "ABBREW.Immunity" }}</label>
            <input type="text" name="system.defense.damageReduction.{{i}}.immunity" value="{{damageReduction.immunity}}"
                data-dtype="Number" />
        </div>
        <div>
            <label>{{ localize "ABBREW.Weakness" }}</label>
            <input type="text" name="system.defense.damageReduction.{{i}}.weakness" value="{{damageReduction.weakness}}"
                data-dtype="Number" />
        </div>
        <a class="damage-reduction-control remove-damage-reduction" data-action="remove-damage-reduction">
            <i class="fa-solid fa-minus"></i>
        </a>
    </li>
    {{/each}}
    <li class="damage-reduction add">
        <div class="form-group">
            <label>
                <a class="damage-reduction-control" data-action="add-damage-reduction">
                    Add Damage Reduction
                    <i class="fa-solid fa-plus"></i>
                </a>
            </label>
        </div>
    </li>
</ol>